.all-notes-system {
    flex: 1;
    margin-left: 300px;
    width: calc(100% - 310px);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle {
    border: 0;
    background-color: transparent;
}

.undo-button {
    font-size: 25px;
}

.note-system-top {
    display: flex;
}

.search-box {
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

.search-button {
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.show-all-button {
    font-size: 20px;
    color: white;
    background-color: rgb(184, 82, 184);
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
   /*display: none;*/
}

.allnotes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
    margin-bottom: 40px;
}

.note {
    display: grid;
    grid-template-rows: 30px 1fr 20px;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.title {
    display: inline-block;
    width: calc(100% - 50px);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.content {
    height: 300px;
    overflow: hidden;
    padding: 10px;
    margin-top: auto;
    margin: 0;
}

.date {
    color: blue;
    margin-left: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}

.custom-select {
    margin-left: 10px;
    background-color: #F0F0F0;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 25px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 51px;
    width: 270px;
    height: 700px;
    margin-right: 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    height: 2px;
}

.create-note {
    background-color: rgb(184, 82, 184);
    color: white;
    font-weight: bold;
    border: 0;
    width: 200px;
    padding: 7px;
    border-radius: 15px;
}

.side-buttons-grid {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 30px;
}

.sidebar-button {
    font-size: 17px;
    background-color: white;
    border: 0;
    width: 200px;
    height: 30px;
    border-radius: 7px;
}

.sidebar-button:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}