body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notepage-system {
    background-color: white;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    border: 0px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-box {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    position: relative;
}

.title-input {
    font-weight: bold;
    font-size: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
    outline: none;
    position: absolute;
    left: 0;
    padding-left: 10px;
}

.text-box {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.text-input {
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
    line-height: 40px;
    vertical-align: top;
    resize: none;
    padding-left: 8px;
}

.button-area {
    width: 1200px;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.save-button {
    font-size: medium;
    font-weight: bolder;
    color: white;
    height: 40px;
    width: 130px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(184, 82, 184);
}

    .save-button:hover {
        cursor: pointer;
    }

    .save-button:active {
        opacity: 0.8;
    }

.notelist-button {
    font-size: medium;
    font-weight: bolder;
    color: white;
    height: 40px;
    width: 130px;
    margin-left: 70px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(158, 155, 158);
}

.buttons-grid{
    display:flex;
    justify-content:space-evenly;
}

.custom-select {
    margin-left: 10px;
    background-color: #ced4da;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 25px;
}

.note-system-top{
    display: flex;
}

.search-box{
    align-self: flex-start;
    margin-left: auto;
}