body {
    /*position:relative;*/
    height:600px;
}

.all-notes-system{
    margin-top:30px;
}

.note-system-body {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-system {
    /*border: 1px solid;
    border-radius:10px;*/
    height:500px;
    width: 600px;
}

.note-system-buttons{
    width:600px;
    display:flex;
    justify-content:space-evenly;
}

.text-input{
    width:450px;
    margin:auto;
}

.text-area {
    height:320px;
    width: 450px;
}

.title-input{
    width:450px;
    margin:auto;
}

.create-button{
    background-color:royalblue;
    color:white;
    width:70px;
    height:30px;

    border: 0;
    border-radius:5px;
}

.view-all-button {
    background-color: lightgray;
    color: white;
    width: 70px;
    height: 30px;
    border: 0;
    border-radius: 5px;
}

.buttons-grid{
    display:flex;
    justify-content:space-evenly;
}

.custom-select{
    background-color: lightgray;
    padding: 10px;
    border-radius: 15px;
}