@using NoteTaking.Web.Common;
@using NoteTaking.Web.ViewModels;
@model List<DetailsNoteViewModel>

<div class="system-grid">
    <div class="all-notes">
        @foreach (var item in Model)
        {
            <div style="display: inline-block;">
                <div class="note-grid">
                    <div class="left-side">
                        <a asp-route-id="@item.Id"> <i class="bi bi-play-fill play-icon"></i></a>
                    </div>
                    <div>
                        <div class="note-title">
                            @item.Title
                        </div>
                        <div class="note-text">
                            @item.Text
                        </div>
                        <div class="note-date">
                            @item.Date
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <partial name="_NoteTable">
    </div>
</div>
