@using NoteTaking.Web.ViewModels;
@model NoteInputViewModel

@if (Model == null)
{
    <form method="post">
        <div class="note-body">
            <div class="body-top">
                Title of the note
            </div>
            <div class="body-main">
                <div class="note-main-title">
                    Title
                </div>
                <div class="note-main-text">
                    Text
                </div>
                <div class="note-main-bottom">
                    bottom
                </div>
            </div>
        </div>
    </form>
}
else
{
    <form method="Get">
        <div class="note-body">
            <div class="body-top">
                Title of the note
            </div>
            <div class="body-main">
                <div class="note-main-title">
                    Title
                </div>
                <div class="note-main-text">
                    Text
                </div>
                <div class="note-main-bottom">
                    bottom
                </div>
            </div>
        </div>
    </form>
}