@using NoteTaking.Web.ViewModels;
@model DetailsNoteViewModel
@{
    ViewData["Title"] = "Details";
}
<form enctype="multipart/form-data">
    <div class="notepage-system">
        <div class="title-box">
            <input disabled asp-for="Title" class="title-input" type="text" placeholder="Title...">
        </div>
        <br />
        <div class="text-box">
            <p class="text-secondary lh-sm">@Html.Raw(Model.Text)</p>
        </div>
    </div>
    <div class="button-area">
        <input asp-action="All" asp-controller="Home" formnovalidate type="submit" value="Note list" class="notelist-button">
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
}

