@using NoteTaking.Web.ViewModels;
@model DetailsNoteViewModel
@{
    ViewData["Title"] = "Details";
}
<form>
    <div class="notepage-system">
        <div class="title-box">
            <input disabled asp-for="Title" class="title-input" type="text" placeholder="Title...">
        </div>
        <br />
        <div class="text-box">
            <textarea disabled asp-for="Text" class="text-input" type="text" placeholder="Content..."></textarea>
        </div>
    </div>
    <div class="button-area">
        <input asp-action="All" asp-controller="Home" formnovalidate type="submit" value="Note list" class="notelist-button">
    </div>
</form>

