@using NoteTaking.Web.ViewModels;
@model NoteInputViewModel
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notifications" />

<form method="post">
    <div class="notepage-system">
        <div class="title-box">
            <input asp-action="HomePage" asp-controller="Home" asp-for="Title" class="title-input" type="text" placeholder="Title...">
        </div>
        <br />
        <div class="text-box">
            <textarea asp-action="HomePage" asp-controller="Home" asp-for="Text" class="text-input" type="text" placeholder="Content..."></textarea>
            <span asp-validation-for="Text" style="color:red"></span>
            <span asp-validation-for="Title" style="color:red"></span>
        </div>
    </div>
    <div class="button-area">
        <input asp-action="HomePage" asp-controller="Home" type="submit" value="Save" class="save-button">
        <input asp-action="All" asp-controller="Home" formnovalidate type="submit" value="Note list" class="notelist-button">
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}